.auto-complete {
  position: relative;

  .auto-complete-suggestions {
    position: absolute;
    top: 100%; // 位于输入框下方
    width: 100%;
    background: white;
    border: $input-border-width solid $input-border-color;
    margin: 0;
    max-height: $auto-max-height;
    padding: $auto-padding;
    border-radius: $auto-item-border-radius;
    box-shadow: $auto-box-shadow;
    list-style: none;
    z-index: 1000;
    overflow-y: scroll;

    .auto-complete-suggestions-item {
      width: 100%;
      padding: $auto-item-padding;
      border-radius: $auto-item-border-radius;
      cursor: pointer;
      transition: $auto-item-transition;

      // &:hover {
      //   background-color: $gray-300;
      // }
    }

    .active {
      background-color: $gray-300;
    }
  }
}