.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 200px;
  box-shadow: $menu-box-shadow;
  list-style: none;

  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
  }
}

.menu-horizontal {
  @include menu();
}

.menu-vertical {
  @include menu(false);
}